# electron forge output
out/

# vite build output
dist/

# npm
node_modules/
*.log
*.log.*

# os crap
Thumbs.db
~*

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.playwright/
